body {
  background: linear-gradient(
    110.3deg,
    rgb(245, 206, 122) 8.7%,
    rgb(237, 121, 95) 47.5%,
    rgb(189, 78, 94) 89.1%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Noto Sans", sans-serif;
}

.mainBG {
  display: block;
  background: rgb(255, 238, 227);
  border-radius: 5px;
  margin: 50px auto;
  padding: 30px;
  box-shadow: 0 30px 50px rgba(37, 15, 30, 0.3);
  box-sizing: border-box;
  resize: horizontal;
  max-width: 600px;
}

a {
  text-decoration: none;
  color: rgb(237, 121, 95);
}

/* FOR THE HEADER */

header {
  padding-bottom: 25px;
  border-bottom: 2px solid rgba(237, 121, 95, 0.3);
}

.search_form {
  background: linear-gradient(
    110.3deg,
    rgb(245, 206, 122) 8.7%,
    rgb(237, 121, 95) 47.5%,
    rgb(189, 78, 94) 89.1%
  );
  border: none;
  border-radius: 5px;
  width: 78%;
  padding: 15px;
  font-size: 16px;
  color: white;
}

::placeholder {
  color: white;
  opacity: 0.7;
}

.search_button {
  background: linear-gradient(
    110.3deg,
    rgb(245, 206, 122) 8.7%,
    rgb(237, 121, 95) 47.5%,
    rgb(189, 78, 94) 89.1%
  );
  border: none;
  border-radius: 25px;
  padding: 15px 25px;
  margin-left: 5px;
  font-size: 16px;
  color: white;
  border: 2px solid rgb(189, 78, 94);
}

/* FOR THE MAIN */

main {
  padding: 30px 0;
}

.weather_app_data {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.mainCity {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding-bottom: 7px;
  font-size: 50px;
  line-height: 48px;
}

.current_details {
  font-size: 16px;
  line-height: 20px;
  color: rgb(147, 147, 147);
}

strong {
  color: rgb(237, 121, 95);
}

.current_temperature_icon {
  position: relative;
  top: 20px;
  width: 80px;
  height: 80px;
  margin-top: 22px;
}

.current_temperature_value {
  font-size: 80px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  line-height: 88px;
}

.current_temperature_unit {
  font-size: 35px;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  position: relative;
  top: -38px;
}

.feels_like_high_low {
  font-size: 20px;
  text-align: center;
  color: rgb(147, 147, 147);
}

.feels_like {
  margin-top: 5px 0 5px;
}

/* FOR THE FOOTER */

footer {
  text-align: center;
  font-size: 14px;
  color: rgb(147, 147, 147);
  font-family: monospace;
  font-weight: lighter;
  padding-top: 25px;
  border-top: 1.5px solid rgba(237, 121, 95, 0.3);
}

button {
  margin-top: 20px;
  background: linear-gradient(
    110.3deg,
    rgb(245, 206, 122) 8.7%,
    rgb(237, 121, 95) 47.5%,
    rgb(189, 78, 94) 89.1%
  );
  border: 2px solid rgb(189, 78, 94);
  border-radius: 15px;
  padding: 10px 20px;
  font-size: 14px;
  color: white;
}

/* ADDITIONAL */

.search_button:hover,
button:hover {
  cursor: pointer;
  background: rgb(189, 78, 94) 89.1%;
}

a:hover {
  text-decoration: underline;
}
